*
 margin 0
 padding 0

html,body
    font-size 30px

section 
    margin-bottom .667rem
    background-color: #fff
    border-radius: 10px
    overflow hidden

.card
    padding 1rem
    background-color: #F5FAFE
    &-wrapper 
        width 100%      
        .user-info
            width 100%
            font-size 0
            &__pic
                width 100%
                img
                    width 100%
            &__desc  
                padding .333rem .667rem
                .name
                    font-size 1rem
                    color: #010101 
                    .sex
                        width .67rem
                        height .6rem     
                        display inline-block
                        background-image url(./img/sexw.png)
                        background-size contain
            .F
                padding .333rem .667rem
                font-size .667rem
                .feature
                    list-style: none
                    display: flex
                    .outgoing
                        text-align center
                        width 1.333rem
                        height .667rem
                        background-color blue
                        float left
                        position relative
                        // margin-left .333rem
                        border-radius: 5px    
                        p
                            position absolute 
                            top 50% 
                            transform: translateY(-50%)
                            font-size .333rem
                            color white
                    .free
                        text-align center
                        width 2rem
                        height .667rem
                        background-color green
                        float left
                        margin-left .167rem
                        border-radius: 5px
                        position relative
                        p
                            position absolute 
                            top 50% 
                            transform: translateY(-50%)
                            font-size .333rem
                            color white
                    .busy
                        text-align center
                        width 1.767rem
                        height .7rem
                        background-color orange
                        float left
                        margin-left .167rem
                        border-radius: 5px
                        position relative
                        p
                            position absolute 
                            top 50% 
                            transform: translateY(-50%)
                            color white
                            font-size .333rem
            .symbol
                .l1
                    display flex
                    .position
                        margin-left 0.5rem
                        flex: 1
                        font-size .333rem
                        color: #010101 
                    .position_pic
                        width .67rem
                        height .6rem     
                        display inline-block
                        background-image url(./img/position.png)
                        background-size contain
                    .job
                        margin-right 2rem
                        flex: 1
                        font-size .333rem
                        color: #010101 
                    .job_pic
                        width .67rem
                        height .6rem     
                        display inline-block
                        background-image url(./img/job.png)
                        background-size contain 
                .l2
                    display flex
                    .interest
                        flex: 1
                        font-size .333rem
                        color: #010101 
                    .interest_pic
                        width .67rem
                        height .6rem     
                        display inline-block
                        background-image url(./img/interest.png)
                        background-size contain
                    .wechat
                        flex: 1
                        font-size .333rem
                        color: #010101 
                    .wechat_pic
                        width .67rem
                        height .6rem     
                        display inline-block
                        background-image url(./img/wechat.png)
                        background-size contain
                .l3
                    .phone
                        font-size .333rem
                        color: #010101 
                    .phone_pic
                        width .67rem
                        height .6rem     
                        display inline-block
                        background-image url(./img/phone.png)
                        background-size contain



            
            
        
