* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 30px;
}
section {
  margin-bottom: 0.667rem;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.card {
  padding: 1rem;
  background-color: #f5fafe;
}
.card-wrapper {
  width: 100%;
}
.card-wrapper .user-info {
  width: 100%;
  font-size: 0;
}
.card-wrapper .user-info__pic {
  width: 100%;
}
.card-wrapper .user-info__pic img {
  width: 100%;
}
.card-wrapper .user-info__desc {
  padding: 0.333rem 0.667rem;
}
.card-wrapper .user-info__desc .name {
  font-size: 1rem;
  color: #010101;
}
.card-wrapper .user-info__desc .name .sex {
  width: 0.67rem;
  height: 0.6rem;
  display: inline-block;
  background-image: url("./img/sexw.png");
  background-size: contain;
}
.card-wrapper .user-info .F {
  padding: 0.333rem 0.667rem;
  font-size: 0.667rem;
}
.card-wrapper .user-info .F .feature {
  list-style: none;
  display: flex;
}
.card-wrapper .user-info .F .feature .outgoing {
  text-align: center;
  width: 1.333rem;
  height: 0.667rem;
  background-color: #00f;
  float: left;
  position: relative;
  border-radius: 5px;
}
.card-wrapper .user-info .F .feature .outgoing p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.333rem;
  color: #fff;
}
.card-wrapper .user-info .F .feature .free {
  text-align: center;
  width: 2rem;
  height: 0.667rem;
  background-color: #008000;
  float: left;
  margin-left: 0.167rem;
  border-radius: 5px;
  position: relative;
}
.card-wrapper .user-info .F .feature .free p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.333rem;
  color: #fff;
}
.card-wrapper .user-info .F .feature .busy {
  text-align: center;
  width: 1.767rem;
  height: 0.7rem;
  background-color: #ffa500;
  float: left;
  margin-left: 0.167rem;
  border-radius: 5px;
  position: relative;
}
.card-wrapper .user-info .F .feature .busy p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 0.333rem;
}
.card-wrapper .user-info .symbol .l1 {
  display: flex;
}
.card-wrapper .user-info .symbol .l1 .position {
  margin-left: 0.5rem;
  flex: 1;
  font-size: 0.333rem;
  color: #010101;
}
.card-wrapper .user-info .symbol .l1 .position_pic {
  width: 0.67rem;
  height: 0.6rem;
  display: inline-block;
  background-image: url("./img/position.png");
  background-size: contain;
}
.card-wrapper .user-info .symbol .l1 .job {
  margin-right: 2rem;
  flex: 1;
  font-size: 0.333rem;
  color: #010101;
}
.card-wrapper .user-info .symbol .l1 .job_pic {
  width: 0.67rem;
  height: 0.6rem;
  display: inline-block;
  background-image: url("./img/job.png");
  background-size: contain;
}
.card-wrapper .user-info .symbol .l2 {
  display: flex;
}
.card-wrapper .user-info .symbol .l2 .interest {
  flex: 1;
  font-size: 0.333rem;
  color: #010101;
}
.card-wrapper .user-info .symbol .l2 .interest_pic {
  width: 0.67rem;
  height: 0.6rem;
  display: inline-block;
  background-image: url("./img/interest.png");
  background-size: contain;
}
.card-wrapper .user-info .symbol .l2 .wechat {
  flex: 1;
  font-size: 0.333rem;
  color: #010101;
}
.card-wrapper .user-info .symbol .l2 .wechat_pic {
  width: 0.67rem;
  height: 0.6rem;
  display: inline-block;
  background-image: url("./img/wechat.png");
  background-size: contain;
}
.card-wrapper .user-info .symbol .l3 .phone {
  font-size: 0.333rem;
  color: #010101;
}
.card-wrapper .user-info .symbol .l3 .phone_pic {
  width: 0.67rem;
  height: 0.6rem;
  display: inline-block;
  background-image: url("./img/phone.png");
  background-size: contain;
}
